This notebook explores the yahoo finance api 

This covers:
-Set up a ticker
- Look at recomendations for that ticker
- Look at information provided (such as industry, full time employees etc)

In [1]:
import pandas as pd
import numpy as np
import yfinance as yf
from autoIG import epics

In [3]:
gold = yf.Ticker(epics.GOLD_TICKER)
msft = yf.Ticker(epics.MSFT_TICKER)

In [9]:
epic = yf.Ticker('CL=F')

In [10]:
# we can get industry recomendations
epic.recommendations

In [11]:
# information
import pprint
print(f"Size of info dictionary: {len(epic.info.keys())}")
pprint.pprint(epic.info,indent = 2)

Size of info dictionary: 69
{ 'algorithm': None,
  'ask': 76.15,
  'askSize': 1000,
  'averageDailyVolume10Day': 348697,
  'averageVolume': 290981,
  'averageVolume10days': 348697,
  'beta': None,
  'bid': 76.15,
  'bidSize': 900,
  'circulatingSupply': None,
  'coinMarketCapLink': None,
  'currency': 'USD',
  'dayHigh': 76.49,
  'dayLow': 74.9,
  'dividendRate': None,
  'dividendYield': None,
  'exDividendDate': None,
  'exchange': 'NYM',
  'exchangeTimezoneName': 'America/New_York',
  'exchangeTimezoneShortName': 'EST',
  'expireDate': 1671494400,
  'fiftyDayAverage': 83.831,
  'fiftyTwoWeekHigh': 130.5,
  'fiftyTwoWeekLow': 66.04,
  'fiveYearAvgDividendYield': None,
  'forwardPE': None,
  'fromCurrency': None,
  'gmtOffSetMilliseconds': '-18000000',
  'headSymbol': 'CL=F',
  'isEsgPopulated': False,
  'lastMarket': None,
  'logo_url': 'https://logo.clearbit.com/Crude.com',
  'market': 'us24_market',
  'marketCap': None,
  'maxAge': 1,
  'maxSupply': None,
  'navPrice': None,
  'open': 75.27,
  'openInterest': 134684,
  'payoutRatio': None,
  'preMarketPrice': None,
  'previousClose': 75.39,
  'priceHint': 2,
  'priceToSalesTrailing12Months': None,
  'quoteType': 'FUTURE',
  'regularMarketDayHigh': 76.49,
  'regularMarketDayLow': 74.9,
  'regularMarketOpen': 75.27,
  'regularMarketPreviousClose': 75.39,
  'regularMarketPrice': 76.17,
  'regularMarketVolume': 58820,
  'shortName': 'Crude Oil Jan 23',
  'startDate': None,
  'strikePrice': None,
  'symbol': 'CL=F',
  'toCurrency': None,
  'totalAssets': None,
  'tradeable': False,
  'trailingAnnualDividendRate': None,
  'trailingAnnualDividendYield': None,
  'trailingPegRatio': None,
  'twoHundredDayAverage': 96.7604,
  'underlyingExchangeSymbol': 'CLF23.NYM',
  'underlyingSymbol': 'CLF23.NYM',
  'volume': 58820,
  'volume24Hr': None,
  'volumeAllCurrencies': None,
  'yield': None,
  'ytdReturn': None}

In [12]:
# Stock splits
epic.actions.head()

Empty DataFrame
Columns: [Dividends, Stock Splits]
Index: []

In [13]:
history_raw = epic.history(interval='1m',end = '2022-12-10',start='2022-12-05')

# history_raw.to_csv('tmp/history_raw.csv')

In [14]:
history_raw.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,
2022-12-05 00:00:00-05:00,80.680000,80.680000,80.650002,80.650002,0,0,0
2022-12-05 00:01:00-05:00,80.660004,80.669998,80.639999,80.650002,16,0,0
2022-12-05 00:02:00-05:00,80.650002,80.669998,80.639999,80.669998,11,0,0
2022-12-05 00:03:00-05:00,80.660004,80.669998,80.660004,80.669998,7,0,0
2022-12-05 00:04:00-05:00,80.669998,80.690002,80.669998,80.690002,13,0,0

In [24]:
def mutate_history(df):
    df['days_since'] =(df.index - df.index[0]).days
    return df
history = mutate_history(history_raw)
history.head(3)

,Open,High,Low,Close,Volume,Dividends,Stock Splits,days_since
Date,,,,,,,,
2022-10-13 00:00:00-04:00,1675.199951,1675.300049,1641.500000,1670.000000,729,0,0,0
2022-10-14 00:00:00-04:00,1665.300049,1667.000000,1640.000000,1641.699951,82,0,0,1
2022-10-17 00:00:00-04:00,1650.199951,1657.000000,1646.800049,1657.000000,238,0,0,4