In [1]:
# import numpy as np
import pandas as pd
import numpy as np

## streaming api
from trading_ig import IGService, IGStreamService
from trading_ig.config import config
from trading_ig.lightstreamer import Subscription

import yfinance as yf
from autoIG import epics

# plotting
import plotnine as pn
from plotnine import ggplot, aes, geom_col, theme, geom_point,scale_x_continuous ,scale_y_continuous

## Instatiate IG Service

In [3]:
ig_service = IGService(config.username, config.password, config.api_key)
ig = ig_service.create_session()

In [4]:
epic =epics.GOLD_EPIC

In [5]:
ig_service = IGService(
    config.username,
    config.password,
    config.api_key,
    config.acc_type,
    acc_number=config.acc_number,
)
ig_stream_service = IGStreamService(ig_service)
ig_stream_service.create_session()

In [6]:
import logging
logger = logging.Logger(__name__)
logger.setLevel(logging.INFO)

file_handler = logging.FileHandler(filename=  "test.log")
logger.addHandler(file_handler)
updated_df = pd.DataFrame()
def on_update(item):
    logger.info("{UPDATE_TIME:<8} {stock_name:<19} Bid {BID:>5} Ask {OFFER:>5}".format(stock_name=item["name"], **item["values"]))
def tu(item):
    print(item)

In [7]:

sub = Subscription(mode="MERGE", items=["L1:CS.D.GBPUSD.TODAY.IP"], fields=["UPDATE_TIME", "BID", "OFFER"])
sub.addlistener(on_update)
ig_stream_service.ls_client.subscribe(sub)

1

In [8]:
ig_stream_service.disconnect()

DISCONNECTED FROM LIGHTSTREAMER

In [9]:
result = ig_service.fetch_historical_prices_by_epic(
    epic='CS.D.USCGC.TODAY.IP',
    start_date="2022-02-01",
    end_date="2022-02-03",resolution="4H"
    )
result['prices']

                         bid                                 ask           \
                        Open     High      Low    Close     Open     High
DateTime
2022-02-01 00:00:00  1797.59  1799.21  1795.52  1796.41  1798.09  1799.71
2022-02-01 04:00:00  1796.42  1804.26  1796.12  1803.97  1796.92  1804.71
2022-02-01 08:00:00  1803.96  1808.21  1801.69  1806.13  1804.26  1808.58
2022-02-01 12:00:00  1806.15  1808.64  1797.56  1804.31  1806.45  1809.14
2022-02-01 16:00:00  1804.26  1807.81  1799.17  1799.21  1804.56  1808.20
2022-02-01 20:00:00  1799.16  1802.29  1798.33  1800.56  1799.66  1802.68
2022-02-02 00:00:00  1800.58  1801.46  1797.14  1797.45  1801.08  1801.96
2022-02-02 04:00:00  1797.48  1798.90  1794.25  1796.66  1797.98  1799.40
2022-02-02 08:00:00  1796.65  1803.48  1796.31  1802.65  1796.95  1803.97
2022-02-02 12:00:00  1802.66  1810.56  1800.31  1808.38  1803.16  1811.03
2022-02-02 16:00:00  1808.36  1810.63  1807.15  1807.29  1808.86  1811.09
2022-02-02 20:00:00  1807.28  1808.14  1804.94  1807.64  1807.78  1808.64
2022-02-03 00:00:00  1807.74  1808.89  1805.78  1806.86  1808.04  1809.30

                                      last
                         Low    Close Open High Low Close Volume
DateTime
2022-02-01 00:00:00  1795.96  1796.91  NaN  NaN NaN   NaN  16703
2022-02-01 04:00:00  1796.62  1804.27  NaN  NaN NaN   NaN  21792
2022-02-01 08:00:00  1802.10  1806.43  NaN  NaN NaN   NaN  28172
2022-02-01 12:00:00  1798.06  1804.61  NaN  NaN NaN   NaN  54689
2022-02-01 16:00:00  1799.64  1799.71  NaN  NaN NaN   NaN  32343
2022-02-01 20:00:00  1798.83  1801.06  NaN  NaN NaN   NaN  14103
2022-02-02 00:00:00  1797.60  1797.95  NaN  NaN NaN   NaN  13308
2022-02-02 04:00:00  1794.69  1796.96  NaN  NaN NaN   NaN  17647
2022-02-02 08:00:00  1796.61  1803.15  NaN  NaN NaN   NaN  28745
2022-02-02 12:00:00  1800.76  1808.88  NaN  NaN NaN   NaN  50066
2022-02-02 16:00:00  1807.63  1807.79  NaN  NaN NaN   NaN  28839
2022-02-02 20:00:00  1805.34  1808.14  NaN  NaN NaN   NaN  12668
2022-02-03 00:00:00  1806.28  1807.36  NaN  NaN NaN   NaN  13636